.divPrincipal {
    width: 85vw;
    height: 6vh;
    margin: auto;
    border-bottom: 1px solid black;
}

.span{
    height: 6vh;
    padding: 10px 15px;
    position: relative;
    top: 15px;
    border-radius: 5px;
}

.span:hover{
    background-color: rgb(112, 224, 0);
}