.divPrincipal {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    width: 100vw;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 57px;
    background: rgba(108, 182, 224, 0.85);
    margin: 5px 25px;
}

.img {
    width: 45px;
}

.span {
    position: absolute;
    top: 85px;
    font-size: 18px;
    line-height: 14px;
    color: #FFFFFF;
    text-shadow: 1px 1px 5px #000000;
}